.slick-slider {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list,
.slick-slider {
  position: relative;
  display: block;
}
.slick-list {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:after,
.slick-track:before {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
ul.faq li {
  padding: 0 1rem 2rem;
}
ul.faq li p:not(.question) {
  text-align: justify;
}
ul.faq li .question {
  font-size: 1.2rem;
}
lite-youtube {
  background-color: #000;
  position: relative;
  display: block;
  contain: content;
  background-position: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
lite-youtube:after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
lite-youtube > iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
}
lite-youtube > .lty-playbtn {
  display: block;
  width: 68px;
  height: 48px;
  position: absolute;
  cursor: pointer;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  left: 50%;
  z-index: 1;
  background-color: transparent;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 68 48"><path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="red"/><path d="M45 24 27 14v20" fill="white"/></svg>');
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: -webkit-filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  transition: -webkit-filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  transition: filter 0.1s cubic-bezier(0, 0, 0.2, 1),
    -webkit-filter 0.1s cubic-bezier(0, 0, 0.2, 1);
  border: none;
}
lite-youtube .lty-playbtn:focus,
lite-youtube:hover > .lty-playbtn {
  -webkit-filter: none;
  filter: none;
}
lite-youtube.lyt-activated {
  cursor: unset;
}
lite-youtube.lyt-activated:before,
lite-youtube.lyt-activated > .lty-playbtn {
  opacity: 0;
  pointer-events: none;
}
lite-youtube.lyt-activated > .cover {
  opacity: 0;
  visibility: hidden;
}
.lyt-visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.wrapper.main {
  margin-top: 0;
}
section {
  text-align: center;
  margin-bottom: 3rem;
}
section p {
  max-width: 45rem;
  margin-left: auto;
  margin-right: auto;
}
section.section-our-picks .our-picks-carousel {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: auto hidden;
  margin-left: -1rem;
  margin-right: -1rem;
}
section.section-our-picks .our-picks-carousel .tile {
  display: inline-block;
  min-width: 228px;
  max-width: 55vw;
  width: 55vw;
  margin: 10px 8px 28px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0 8px 24px 0;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.12);
}
section.section-our-picks .our-picks-carousel .tile a {
  position: relative;
  display: block;
  color: #000;
  background: #f5f5f5;
}
section.section-our-picks .our-picks-carousel .tile a:hover {
  text-decoration: none;
}
section.section-our-picks .our-picks-carousel .tile a .tile-img {
  overflow: hidden;
  max-height: 300px;
  text-align: left;
}
section.section-our-picks .our-picks-carousel .tile a .tile-img img {
  mix-blend-mode: multiply;
  margin-top: 1rem;
  width: 80%;
}
section.section-our-picks .our-picks-carousel .tile a .tile-info {
  text-align: left;
  background-color: #fff;
  padding: 0.75rem 0.75rem 1.25rem;
  line-height: 1.2;
}
section.section-our-picks .our-picks-carousel .tile a .tile-info .name {
  font-weight: 600;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
section.section-our-picks .our-picks-carousel .tile a .tile-info .info {
  font-size: 13px;
  line-height: 1.2;
  color: #666;
}
section.section-video .video-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
section.section-video .video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
section.section-video .video embed,
section.section-video .video iframe,
section.section-video .video lite-youtube,
section.section-video .video object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.design-studio .design-studio-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
section.design-studio .design-studio-content .video-container {
  max-width: 1080px;
  margin: 0 auto 1rem;
}
section.design-studio .design-studio-content .features-container {
  text-align: left;
}
section.design-studio .design-studio-content .features-container,
section.design-studio .design-studio-content .features-container .features {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
}
section.design-studio .design-studio-content .features-container .features {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
section.design-studio
  .design-studio-content
  .features-container
  .features
  .feature {
  margin-bottom: 1rem;
}
section.design-studio
  .design-studio-content
  .features-container
  .studio-btn-wrapper {
  text-align: center;
}
section.how-it-works > ul:after,
section.services > ul:after {
  display: block;
  content: " ";
  clear: both;
}
section.how-it-works > ul > li,
section.services > ul > li {
  padding-bottom: 2rem;
}
section.how-it-works > ul > li div,
section.services > ul > li div {
  position: relative;
  margin-bottom: 1rem;
}
section.how-it-works > ul > li div:after,
section.how-it-works > ul > li div:before,
section.services > ul > li div:after,
section.services > ul > li div:before {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 90%;
  max-width: 300px;
  background: #fff;
  -webkit-box-shadow: 0 15px 10px #999;
  box-shadow: 0 15px 10px #999;
  -webkit-transform: rotate(-4deg);
  transform: rotate(-4deg);
}
section.how-it-works > ul > li div:after,
section.services > ul > li div:after {
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  right: 10px;
  left: auto;
}
section.how-it-works > ul > li figure,
section.services > ul > li figure {
  overflow: hidden;
  border: 5px solid #f7f7f7;
  max-height: 50vw;
}
section.how-it-works > ul > li img,
section.services > ul > li img {
  margin-top: -5vw;
}
section.services > ul > li h3 {
  position: relative;
  margin-top: 75px;
}
section.services > ul > li h3:after {
  content: " ";
  width: 210px;
  height: 150px;
  position: absolute;
  left: 50%;
  margin-top: -150px;
  margin-left: -105px;
}
section.services > ul > li.screen-printing h3:after {
  background: url(../../../assets/images/hp/screenprint-inks.png) no-repeat
    bottom;
}
section.services > ul > li.digital-printing h3:after {
  background: url(../../../assets/images/hp/digitalprint-cartridges.png)
    no-repeat bottom;
}
section.services > ul > li.embroidery h3:after {
  background: url(../../../assets/images/hp/embroidery-thread.png) no-repeat
    bottom;
}
section.services > ul > li ul {
  margin-bottom: 0.5rem;
}
section.why-us ul:after {
  display: block;
  content: " ";
  clear: both;
}
section.why-us ul li {
  font-size: 0.5rem;
  padding-top: 4.5em;
  margin-bottom: 1rem;
}
section.why-us ul li.quality {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M32.1 15.3c-2.6-1.8-3-2-3.7-2-.3-.1-.5-.1-.6.3-.2.7-1.1 2.9-3.8 3-2.7-.1-3.7-2.4-3.8-3-.1-.4-.2-.4-.6-.3-.7.1-1.1.2-3.7 2-1.5 1-3.5 3.1-3.5 3.1l3.7 4s1.8-1 1.8-1.2v12.5c0 .6.4 1 1 1h10.2c.6 0 1-.4 1-1V21.3c0 .2 1.8 1.2 1.8 1.2l3.7-4s-2.1-2.2-3.5-3.2zm-4.8 10.6h-6.4c-.2 0-.3-.2-.3-.3 0-.2.2-.3.3-.3h6.4c.1-.1.3.1.3.3 0 .2-.2.3-.3.3zm0-1.7h-6.4c-.2 0-.3-.2-.3-.3 0-.2.2-.3.3-.3h6.4c.1 0 .3.2.3.3 0 .2-.2.3-.3.3zm0-1.4h-6.4c-.2 0-.3-.2-.3-.3 0-.2.2-.3.3-.3h6.4c.1-.1.3.1.3.3s-.2.3-.3.3z'/%3E%3Cpath d='M24 .5V1c6.4 0 12.1 2.6 16.3 6.7C44.4 11.9 47 17.6 47 24s-2.6 12.1-6.7 16.3C36.1 44.4 30.4 47 24 47s-12.1-2.6-16.3-6.7C3.6 36.1 1 30.4 1 24S3.6 11.9 7.7 7.7C11.9 3.6 17.6 1 24 1V0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0v.5z'/%3E%3C/svg%3E")
    no-repeat top;
  -webkit-background-size: 4em 4em;
  background-size: 4em 4em;
}
section.why-us ul li.service {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M24 .5V1c6.4 0 12.1 2.6 16.3 6.7C44.4 11.9 47 17.6 47 24s-2.6 12.1-6.7 16.3C36.1 44.4 30.4 47 24 47s-12.1-2.6-16.3-6.7C3.6 36.1 1 30.4 1 24S3.6 11.9 7.7 7.7C11.9 3.6 17.6 1 24 1V0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0v.5z'/%3E%3Cpath d='M36.2 29.7c0-2.4-1.9-4.3-4.3-4.3h-.2c-1.4 1.2-3.2 2-5.3 2h-2.3c-.4.7-.7 1.4-.7 2.3 0 2.4 1.9 4.3 4.3 4.3h3.2l1.5 1.5c.4.4 1 .4 1.4 0 .4-.4.4-1 0-1.4l-.4-.4c1.6-.6 2.8-2.1 2.8-4z'/%3E%3Cpath d='M31.3 14.7c-1.2-1.2-3-2-4.9-2h-7.2c-3.8 0-6.9 3.1-6.9 6.9 0 3 1.9 5.5 4.6 6.4l.8.3-1.3 1.3c-.2.1-.4.4-.4.8 0 .3.1.6.3.8.2.2.5.3.8.3.3 0 .6-.1.8-.3l2.7-2.7h5.8c1.3 0 2.5-.4 3.6-1 2-1.2 3.3-3.4 3.3-5.9 0-2-.8-3.7-2-4.9z'/%3E%3C/svg%3E")
    no-repeat top;
  -webkit-background-size: 4em 4em;
  background-size: 4em 4em;
}
section.why-us ul li.speed {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M24 .5V1c6.4 0 12.1 2.6 16.3 6.7C44.4 11.9 47 17.6 47 24s-2.6 12.1-6.7 16.3C36.1 44.4 30.4 47 24 47s-12.1-2.6-16.3-6.7C3.6 36.1 1 30.4 1 24S3.6 11.9 7.7 7.7C11.9 3.6 17.6 1 24 1V0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0v.5z'/%3E%3Cpath d='M34.6 29.1l-.8-.6c.3-1 .5-2.1.5-3.2 0-5.1-3.8-9.4-8.7-10.1v-1.5h1.7c.9 0 1.7-.7 1.7-1.7 0-.9-.7-1.7-1.7-1.7h-6.5c-.9 0-1.7.7-1.7 1.7 0 .9.7 1.7 1.7 1.7H22v1.5c-4.7 1-8.2 5.1-8.2 10 0 5.7 4.6 10.2 10.2 10.2 2.7 0 5.1-1 6.9-2.7l-1.6-1.6c-1.4 1.3-3.3 2-5.3 2-4.4 0-8-3.6-8-8s3.6-8 8-8 8 3.6 8 8c0 .7-.1 1.3-.2 1.9h-.5c-.1 0-.1-.1-.2-.1H31c-.1.1-.2.2-.2.3l-.2 3.9c0 .1 0 .2.1.3.1 0 .1.1.2.1h.1l3.5-1.7c.1-.1.2-.2.2-.3s0-.3-.1-.4z'/%3E%3Cpath d='M29.8 25.4c0-3.2-2.6-5.8-5.8-5.8s-5.8 2.6-5.8 5.8 2.6 5.8 5.8 5.8c1.1 0 2.1-.3 2.9-.8l-2.9-5h5.8z'/%3E%3C/svg%3E")
    no-repeat top;
  -webkit-background-size: 4em 4em;
  background-size: 4em 4em;
}
section.why-us ul li.guarantee {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'%3E%3Cpath d='M24 .5V1c6.4 0 12.1 2.6 16.3 6.7C44.4 11.9 47 17.6 47 24s-2.6 12.1-6.7 16.3C36.1 44.4 30.4 47 24 47s-12.1-2.6-16.3-6.7C3.6 36.1 1 30.4 1 24S3.6 11.9 7.7 7.7C11.9 3.6 17.6 1 24 1V0C10.7 0 0 10.7 0 24s10.7 24 24 24 24-10.7 24-24S37.3 0 24 0v.5z'/%3E%3Cpath d='M24 12c-6.6 0-12 5.4-12 12s5.4 12 12 12 12-5.4 12-12-5.4-12-12-12zm6.3 8.8l-7.8 7.8c-.2.2-.5.3-.8.3s-.6-.1-.8-.3c0-.1-.1-.1-.1-.2l-3.1-3.1c-.4-.4-.4-1.1 0-1.5.4-.4 1.1-.4 1.5 0l2.5 2.5 4.1-4.1L27 21l1.7-1.7c.5-.4 1.2-.4 1.6 0 .5.4.5 1.1 0 1.5z'/%3E%3C/svg%3E")
    no-repeat top;
  -webkit-background-size: 4em 4em;
  background-size: 4em 4em;
}
section.why-us ul li p {
  margin: 0 2.5rem;
  text-align: justify;
  -moz-text-align-last: center;
  text-align-last: center;
  font-size: 0.875rem;
}
section.why-us ul li .back {
  display: none;
}
section.catalog .catalog-sections {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  text-align: left;
}
section.catalog .catalog-sections .catalog-section {
  position: relative;
  width: 100%;
  min-width: 16.875rem;
  max-width: 26.25rem;
  height: 19.375rem;
  border-bottom: 4px solid #4f4d53;
  margin-bottom: 10rem;
}
section.catalog .catalog-sections .catalog-section picture {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
}
section.catalog .catalog-sections .catalog-section picture img {
  width: auto;
  height: 100%;
}
section.catalog .catalog-sections .catalog-section > ul {
  position: relative;
  padding-top: 35px;
  padding-left: 1rem;
}
section.catalog .catalog-sections .catalog-section > ul a {
  color: #666;
}
section.catalog .catalog-sections .catalog-section > ul .h3 a {
  color: #222427;
}
section.catalog .catalog-sections .catalog-section > ul .h3 a:hover {
  text-decoration: none;
}
section.catalog .catalog-sections .catalog-section > ul ul li {
  margin-bottom: 0.75rem;
}
section.help ul {
  padding-top: 1rem;
}
section.help ul:after {
  display: block;
  content: " ";
  clear: both;
}
section.help ul li {
  padding-bottom: 2rem;
}
section.help ul li.phone {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231f2e3b' viewBox='0 0 48 48'%3E%3Cpath d='M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-47C11.3 1 1 11.3 1 24s10.3 23 23 23 23-10.3 23-23S36.7 1 24 1z'/%3E%3Cpath d='M31.1 28.6c-.3-.3-.7-.6-1.1-.9-.9-.6-1.8-.7-2.7.1-.4.3-.8.7-1.2 1-.4.3-.9.4-1.5.2-.9-.3-1.5-1-2.1-1.6-.7-.8-1.4-1.7-2-2.7-.3-.6-.6-1.2-.8-1.8-.1-.5-.1-1 .1-1.4.1-.2.3-.4.5-.5.5-.4 1.1-.7 1.6-1.2.6-.5.7-1.2.6-1.9-.1-.7-.4-1.3-.8-1.9-.2-.4-.4-.8-.7-1.2-.3-.4-.6-.8-1.1-1.1-.4-.2-.8-.2-1.2.1-.7.4-1.3.9-1.9 1.4-.7.6-1.3 1.4-1.6 2.4-.1.4-.3.8-.3 1.1-.2.9-.1 1.9 0 2.8.2 1.2.6 2.3 1.1 3.3.4.9.9 1.7 1.4 2.5.6.8 1.1 1.6 1.8 2.3.5.7 1.1 1.3 1.7 1.9 1 1 2.1 1.8 3.3 2.3.5.2 1.1.4 1.6.6 1 .2 2 .2 3 0 .6-.1 1.1-.3 1.6-.7.6-.4 1.3-.9 1.9-1.4.6-.5.6-1.1.2-1.8-.1-.7-.8-1.3-1.4-1.9z' fill='%23231f20'/%3E%3C/svg%3E")
    no-repeat top;
  -webkit-background-size: 3.5rem 3.5rem;
  background-size: 3.5rem 3.5rem;
  padding-top: 5em;
}
section.help ul li.email {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231f2e3b' viewBox='0 0 48 48'%3E%3Cpath d='M24 48C10.8 48 0 37.2 0 24S10.8 0 24 0s24 10.8 24 24-10.8 24-24 24zm0-47C11.3 1 1 11.3 1 24s10.3 23 23 23 23-10.3 23-23S36.7 1 24 1z'/%3E%3Cpath d='M34.6 18.9v10.7c0 .8-.1.8-1 .8H14.5c-.9 0-1-.1-1-.8V18.9c.2.2.4.3.6.4 3.1 2.5 6.1 5.1 9.2 7.6.8.6.8.6 1.6 0 3.1-2.5 6.2-5.1 9.3-7.6 0-.1.1-.2.4-.4z'/%3E%3Cpath d='M24 17.5h8.7c.3 0 .7.1.7.2.1.2-.1.5-.2.7l-8.7 7.2c-.4.3-.7.3-1.1 0l-8.7-7.2c-.2-.2-.4-.5-.3-.7.1-.2.5-.3.8-.3 3 .1 5.9.1 8.8.1z'/%3E%3C/svg%3E")
    no-repeat top;
  -webkit-background-size: 3.5rem 3.5rem;
  background-size: 3.5rem 3.5rem;
  padding-top: 5em;
}
section.reviews .trustpilot-widget {
  margin-top: 2rem;
}
section.reviews ul.rating li {
  display: inline-block;
}
section.reviews ul.reviews {
  margin-top: 1rem;
}
section.reviews ul.reviews:after {
  display: block;
  content: " ";
  clear: both;
}
section.reviews ul.reviews li {
  margin: 3rem 0;
}
section.reviews ul.reviews li .comments:after,
section.reviews ul.reviews li .comments:before {
  display: block;
  font-size: 4rem;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif, sans;
}
section.reviews ul.reviews li .comments:before {
  content: "“";
  line-height: 1rem;
}
section.reviews ul.reviews li .comments:after {
  content: "”";
}
section.reviews ul.reviews li .name {
  margin-top: -3rem;
  font-weight: 700;
  color: #1f2e3b;
}
section.section-templates .templates {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden auto;
  position: relative;
}
section.section-templates .templates .template-cell {
  text-align: center;
  margin: 1rem;
}
section.section-templates .templates .template-cell a {
  color: #959595;
  font-weight: 500;
}
section.section-templates .templates .template-cell a img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  min-width: 140px;
}
section.section-templates .templates .template-cell a:hover {
  color: #40474a;
  text-decoration: none;
}
section.section-templates .templates .template-cell a:hover img {
  -webkit-filter: initial;
  filter: none;
}
section.section-templates .templates .template-cell a:focus {
  outline: none;
}
section.section-templates .templates .template-cell a div {
  border: 8px solid #f7f7f7;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  padding: 0.5rem;
}
section .slick-list {
  overflow: hidden;
  display: block;
}
section .slick-list .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
section .slick-arrow {
  position: absolute;
  top: 45%;
  margin-top: -12px;
  width: 30px;
  height: 30px;
  background-color: #cacaca;
  border-radius: 2px;
  outline: none;
  color: transparent;
  border: none;
  -webkit-background-size: 14px 14px;
  background-size: 14px 14px;
  background-repeat: no-repeat;
  background-position: 50%;
  z-index: 1;
  cursor: pointer;
}
section .slick-arrow:focus {
  outline: 0;
}
section .slick-arrow.slick-disabled {
  opacity: 0.3;
}
section .slick-arrow:hover {
  background-color: #40474a;
}
section .slick-arrow.slick-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 18 18'%3E%3Cpath d='M11.7 17.1c.6.6 1.6.5 2.2 0 .6-.7.5-1.6-.1-2.2L7.5 9l6.3-5.9c.6-.5.6-1.5.1-2.1-.6-.6-1.6-.7-2.2-.1l-7.5 7c-.3.3-.5.7-.5 1.1 0 .4.2.8.5 1.1l7.5 7z'/%3E%3C/svg%3E");
  left: 0;
}
section .slick-arrow.slick-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 18 18'%3E%3Cpath d='M6.3 17.1l7.5-7c.3-.3.5-.7.5-1.1 0-.4-.2-.8-.5-1.1L6.3.9C5.7.3 4.7.4 4.1 1c-.5.6-.5 1.6.1 2.1L10.5 9l-6.3 5.9c-.6.6-.7 1.5-.1 2.2.6.5 1.6.6 2.2 0z'/%3E%3C/svg%3E");
  right: 0;
}
.carousel {
  margin-left: -1rem;
  margin-right: -1rem;
}
.carousel .nav-dots {
  visibility: hidden;
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  text-align: center;
}
.carousel .nav-dots li {
  position: relative;
  display: inline-block;
}
.carousel .nav-dots li button {
  display: block;
  color: transparent;
  font-size: 0;
  outline: none;
  background-color: transparent;
  border: none;
  width: 1rem;
  margin: 0 0.25rem;
  cursor: pointer;
}
.carousel .nav-dots li button:before {
  content: "";
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: #959595;
  opacity: 0.6;
  border-radius: 100%;
}
.carousel .nav-dots li.slick-active button:before {
  background-color: #666;
  opacity: 0.7;
}
.banner {
  overflow: hidden;
  text-align: center;
}
.banner,
.banner .banner-content {
  position: relative;
}
.banner .banner-content a {
  outline: none;
}
.banner img {
  display: block;
  width: 190vw;
  margin-left: -75vw;
  max-width: inherit;
}
.banner .copy h1 {
  font-size: 2rem;
  letter-spacing: 0.08em;
  line-height: 0.9em;
  color: #fff;
}
.banner .copy .main-copy {
  background-color: #1f2e3b;
  padding: 0.75rem;
}
.banner .copy .main-copy div {
  line-height: 1;
  margin: 0 1rem;
  color: #fff;
}
.banner .copy .sub-copy {
  color: #959595;
  font-size: 18px;
  margin-bottom: 1rem;
}
.banner .btn {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 5%;
  -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.6);
}
.banner .banner-info {
  margin: 0 -1rem 1rem;
  padding: 1rem;
  background-color: #1f2e3b;
  color: #fff;
}
.banner .banner-info .title {
  color: #fff;
  font-size: 1.3rem;
}
.banner .banner-info .desc {
  display: none;
}
.banner .banner-info span.special {
  position: absolute;
  top: -20px;
  right: 20px;
  color: #c00;
}
.hero {
  position: relative;
  text-align: center;
}
.hero .hero-banner {
  position: relative;
  margin-left: -1rem;
  margin-right: -1rem;
}
.hero .hero-banner img,
.hero .hero-banner picture {
  display: block;
  width: 100%;
}
.hero .hero-banner a.banner-img-wrapper:before {
  display: block;
  position: relative;
  content: "";
  width: 100%;
  height: 0;
  padding-top: 110.416666667%;
}
.hero .hero-banner a.banner-img-wrapper picture {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.hero .hero-copy {
  position: relative;
  margin-top: -2rem;
  text-align: center;
  background-color: #fff;
  padding: 1rem 1rem 1.5rem;
  margin-bottom: 2rem;
  border: 1px solid transparent;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px rgba(80, 80, 80, 0.5);
  box-shadow: 0 2px 3px rgba(80, 80, 80, 0.5);
}
.hero .hero-copy h1 {
  font-weight: 500;
  letter-spacing: 0;
}
.hero .hero-checklist {
  margin-bottom: 2rem;
}
.hero .hero-checklist,
.hero .hero-checklist ul.checklist {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.hero .hero-checklist ul.checklist {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.hero .hero-checklist ul.checklist li {
  background: url(../../../assets/svg/check-blue.svg) no-repeat 0;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
  padding-left: 20px;
  font-weight: 500;
  line-height: 40px;
  text-align: left;
}
.hero .hero-checklist ul.checklist li span {
  font-weight: 400;
  font-size: 14px;
}
.hero .banner-info {
  margin-bottom: 1.5rem;
}
.hero .banner-info .title {
  font-size: 1.3rem;
  color: #1f2e3b;
}
.hero .banner-info .desc {
  display: none;
}
.hero .banner-info .fsp {
  position: relative;
}
.hero .banner-info .fsp .line-through:first-letter,
.hero .banner-info .fsp .special:first-letter {
  font-size: 0.65em;
  vertical-align: super;
}
.hero .banner-info .fsp .line-through {
  display: none;
}
.hero .btn-start {
  display: block;
  font-family: Dita, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.75rem;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  border: 3px solid #fff;
  border-radius: 8px;
}
.refresh-link {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009ddc' viewBox='0 0 200 200'%3E%3Cpath d='M81.3 147.4c-12.7-12.8-18.6-29.7-17.8-46.4h30.9L47.2 53.7 0 100.9h29.4c-.1 18.2 6.7 36.4 20.6 50.3 21.8 21.8 54.1 26.3 80.4 13.7-17.5 1.8-35.7-4.1-49.1-17.5zm89.3-46.4c.1-18.2-6.7-36.4-20.6-50.3C128.2 28.9 95.8 24.4 69.6 37c17.6-1.7 35.7 4.2 49.2 17.6 12.8 12.8 18.7 29.7 17.8 46.4h-30.9l47.2 47.2L200 101h-29.4z'/%3E%3C/svg%3E")
    no-repeat 0;
  -webkit-background-size: 1.5em 1.5em;
  background-size: 1.5em;
  padding-left: 2em;
}
@-webkit-keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  to {
    background-position: 500px 1000px, 400px 400px, 500px 500px;
  }
}
@keyframes snow {
  0% {
    background-position: 0 0, 0 0, 0 0;
  }
  to {
    background-position: 500px 1000px, 400px 400px, 500px 500px;
  }
}
.snow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-image: url(../../../assets/images/home/snow-1.png),
    url(../../../assets/images/home/snow-2.png),
    url(../../../assets/images/home/snow-3.png);
  -webkit-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
  pointer-events: none;
}
@media (min-width: 48em) {
  h2 {
    font-size: 2rem;
  }
  section {
    margin-bottom: 4rem;
  }
  section .underline,
  section h3:not(.cat-list) {
    padding-bottom: 0.5em;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231f2e3b' viewBox='0 0 145 8'%3E%3Cpath d='M141 8H4C1.8 8 0 6.2 0 4s1.8-4 4-4h137c2.2 0 4 1.8 4 4s-1.8 4-4 4z'/%3E%3C/svg%3E")
      no-repeat bottom;
    -webkit-background-size: 2em 2em;
    background-size: 2em;
  }
  section.section-our-picks .our-picks-carousel {
    margin-left: 0;
    margin-right: 0;
  }
  section.section-our-picks .our-picks-carousel .tile {
    min-width: 235px;
  }
  section.section-video {
    margin: 6rem 0;
  }
  section.design-studio
    .design-studio-content
    .features-container
    .features
    .feature {
    margin: 1rem;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
  section.how-it-works > ul > li,
  section.services > ul > li {
    float: left;
    width: 32%;
  }
  section.how-it-works > ul > li:first-child,
  section.services > ul > li:first-child {
    margin-right: 2%;
  }
  section.how-it-works > ul > li:last-child,
  section.services > ul > li:last-child {
    margin-left: 2%;
  }
  section.how-it-works > ul > li figure,
  section.services > ul > li figure {
    max-height: none;
  }
  section.how-it-works > ul > li img,
  section.services > ul > li img {
    margin-top: 0;
  }
  section.why-us ul li {
    float: left;
    width: 50%;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  section.catalog .catalog-sections .catalog-section > ul {
    padding-left: 35px;
  }
  section.help ul li {
    float: left;
    width: 33.3%;
    padding-bottom: 0;
  }
  section.help ul li.email {
    float: right;
  }
  section.reviews .trustpilot-widget {
    margin-top: 3rem;
  }
  section.reviews ul.reviews li {
    float: left;
    width: 44%;
    margin: 1rem 3%;
  }
  .carousel {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .carousel .nav-dots {
    visibility: visible;
  }
  .banner {
    margin-bottom: 1.5rem;
  }
  .banner img {
    width: auto;
    height: 34.375rem;
    margin-left: 0;
  }
  .banner .copy {
    position: absolute;
    top: 10%;
    left: 1.5rem;
    max-width: 23.5rem;
  }
  .banner .copy h1 {
    font-size: 4.75rem;
    margin-left: 0.04em;
    margin-right: -0.04em;
    color: #1f2e3b;
  }
  .banner .copy h1 span {
    display: block;
    font-size: 0.5em;
    letter-spacing: 0.4em;
    margin-left: 0.2em;
    margin-right: -0.2em;
    padding-bottom: 0.25em;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231f2e3b' viewBox='0 0 145 8'%3E%3Cpath d='M141 8H4C1.8 8 0 6.2 0 4s1.8-4 4-4h137c2.2 0 4 1.8 4 4s-1.8 4-4 4z'/%3E%3C/svg%3E")
      no-repeat bottom;
    -webkit-background-size: 1.75em 1.75em;
    background-size: 1.75em;
  }
  .banner .copy .main-copy {
    background-color: transparent;
    padding: 0;
  }
  .banner .copy .main-copy div {
    color: inherit;
    font-weight: 700;
    line-height: 1.5;
    margin: 1.5rem 0;
  }
  .banner .btn {
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .banner .banner-info {
    position: absolute;
    bottom: 10%;
    left: 1.5rem;
    width: 23.5rem;
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: #666;
  }
  .banner .banner-info .title {
    color: #1f2e3b;
  }
  .banner .banner-info .desc {
    display: block;
  }
  .hero {
    margin-bottom: 4rem;
  }
  .hero .hero-banner a.banner-img-wrapper:before {
    padding-top: unset;
    height: auto;
    content: none;
  }
  .hero .hero-banner a.banner-img-wrapper picture {
    position: relative;
    height: auto;
  }
  .hero .hero-banner {
    margin-left: -1rem;
    margin-right: -1rem;
    overflow: hidden;
  }
  .hero .hero-banner img {
    max-width: none;
    width: auto;
    height: 40rem;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .hero .hero-copy {
    position: absolute;
    top: 10%;
    left: 1.5rem;
    max-width: 23.5rem;
    background-color: transparent;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .hero .hero-copy h1 {
    font-size: 4.75rem;
    margin-left: 0.04em;
    margin-right: -0.04em;
    letter-spacing: 0.08em;
    line-height: 0.9em;
  }
  .hero .hero-copy h1 span {
    display: block;
    font-size: 0.75em;
    letter-spacing: 0.15em;
    margin-left: 0.075em;
    margin-right: -0.075em;
    padding-bottom: 0.25em;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%231f2e3b' viewBox='0 0 145 8'%3E%3Cpath d='M141 8H4C1.8 8 0 6.2 0 4s1.8-4 4-4h137c2.2 0 4 1.8 4 4s-1.8 4-4 4z'/%3E%3C/svg%3E")
      no-repeat bottom;
    -webkit-background-size: 1.75em 1.75em;
    background-size: 1.75em;
  }
  .hero .hero-copy p {
    font-size: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .hero .hero-checklist {
    position: absolute;
    bottom: 2.5rem;
    left: 1.5rem;
    width: 23.5rem;
    margin-bottom: 0;
  }
  .hero .hero-checklist ul.checklist {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
  }
  .hero .banner-info {
    position: absolute;
    bottom: 10%;
    left: 1.5rem;
    width: 23.5rem;
    margin-bottom: 0;
  }
  .hero .banner-info .desc {
    display: block;
  }
  .hero .banner-info .fsp .line-through {
    display: inline;
    text-decoration: line-through;
  }
  .hero .banner-info .fsp .special {
    color: #c00;
    position: absolute;
    top: -1em;
    left: 0;
  }
  .hero .btn-start {
    padding: 1rem 4rem;
  }
}
@media (min-width: 64em) {
  ul.faq {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    margin-bottom: -2rem;
  }
  ul.faq li {
    -webkit-column-break-inside: avoid;
    break-inside: avoid;
    page-break-inside: avoid;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  ul.faq li .question {
    text-align: left;
  }
  section.design-studio .design-studio-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  section.design-studio .design-studio-content .features-container {
    margin-left: 32px;
  }
  section.design-studio
    .design-studio-content
    .features-container
    .features
    .feature {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  section.design-studio
    .design-studio-content
    .features-container
    .studio-btn-wrapper {
    text-align: inherit;
  }
  section.why-us ul li {
    width: 25%;
    margin-bottom: 0;
  }
  section.catalog .catalog-sections {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
  }
  section.catalog .catalog-sections .catalog-section {
    width: 33%;
    margin-bottom: 0;
    margin-left: 1rem;
  }
  section.catalog .catalog-sections .catalog-section:first-child {
    margin-left: 0;
  }
  section.catalog .catalog-sections .catalog-section > ul ul li {
    margin-bottom: 0.5rem;
  }
  section.section-templates .templates {
    margin-left: 45px;
    margin-right: 45px;
  }
  .carousel {
    margin-left: 0;
    margin-right: 0;
  }
  .banner {
    overflow: auto;
  }
  .banner img {
    height: auto;
    max-width: 100%;
  }
  .banner .copy {
    left: 3.125rem;
  }
  .banner .banner-info {
    left: 1rem;
    width: 28rem;
  }
  .banner .banner-info .title {
    font-size: 1.5rem;
  }
  .hero .hero-copy {
    left: 3.125rem;
  }
  .hero .hero-checklist {
    left: 1rem;
    bottom: 2rem;
    width: 28rem;
  }
  .hero .hero-checklist ul.checklist li {
    font-size: 16px;
    -webkit-background-size: 20px 20px;
    background-size: 20px 20px;
    padding-left: 25px;
  }
  .hero .banner-info {
    left: 1rem;
    width: 28rem;
  }
  .hero .banner-info .title {
    font-size: 1.5rem;
  }
}
@media (min-width: 85em) {
  section.design-studio .design-studio-content .video-container {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    width: 870px;
  }
  section.services > ul > li h3 {
    margin-top: 100px;
  }
  section.catalog .catalog-sections .catalog-section {
    height: 375px;
  }
  section.catalog .catalog-sections .catalog-section > ul {
    padding-top: 70px;
    padding-left: 45px;
  }
  .banner {
    overflow: hidden;
    height: 46.875rem;
  }
  .banner img {
    margin-top: -1rem;
  }
  .banner .copy {
    left: 6.875rem;
    max-width: 28rem;
  }
  .banner .copy h1 {
    font-size: 6.75rem;
    margin-bottom: 2rem;
  }
  .banner .banner-info {
    left: 6.875rem;
  }
  .hero .hero-copy {
    left: 6.875rem;
    max-width: 28rem;
  }
  .hero .hero-copy h1 {
    font-size: 5.75rem;
    margin-bottom: 2rem;
  }
  .hero .banner-info,
  .hero .hero-checklist {
    left: 6.875rem;
  }
}
